@model IEnumerable<CoreBookStore.Models.Author>

@{
    ViewData["Title"] = "Authors";
}
<div class="row mt-5">
<div class="col">
    <h1>Authors</h1>
</div>
<div class="col text-right">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>
</div>
<table class="table table-responsive-md table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a>
                    @*<a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.AuthorId">Details</a>*@
                    <a class="btn btn-danger" asp-action="Delete"  asp-route-id="@item.AuthorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
